* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
     background-color: rgb(228, 183, 146);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    list-style: none;
}

header div {
    justify-content: start;
}

main {
    flex-grow: 1;
}

.tamanhos {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: antiquewhite;
}

.tamanho {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tamanho img {
    width: 225px;
    border-radius: 50%;
}

@media (max-width:400px) {
    .tamanhos {
        flex-direction: column;
    }

    img {
        width: 70px;
    }
    footer{
        padding: 10px;
    }
}@media (max-width:300px) {
    footer{
        display: flex;
        flex-direction: column;
    }
    footer div {
        padding-top: 10px;
    }
    header{
        flex-direction: column;
    }
}

@media (max-width:1010px) {
    .tamanhos {
        flex-direction: column;
    }

    img {
        width: 100px;
    }
}

.Pizzas {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
  
    margin: 50px;

    background-color: rgb(228, 183, 146);
}

article {
    padding: 20px;
}

.Pizzas h1 {
    color: rgb(43, 20, 1);
}

.Pizzas h2 {
    color: rgb(60, 30, 4);
}

.Pizzas h3 {
    color: rgb(255, 128, 0);
}

article h3 {
    padding: 10px;
}

article p {
    padding-left: 19px;
}

#aperitivos {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    
    margin-top: 20px;
    margin: 50px;
     background-color: rgb(228, 183, 146);

}

footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
}

input[type="text"] {
    border: red 1px solid;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    transition: color 0.4s;
    color: rgb(238, 136, 68);
    
}

input {
    margin: 10px;
    padding: 10px;
    border: #6a0dad 3px solid;
    border-radius: 7px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

input:hover {
    border: #8b1adb 3px solid;
}

button {
    padding: 20px;
    background: #5c0e94;
    color: aliceblue;
    border-radius: 5px;
}

button:hover {
    background: #a748eb;
    color: aliceblue;
    cursor: pointer;
}

.butao {
    margin-left: 0.7rem;
}
.avalia a{
    color: #45d364;
}
.avalia a:hover{
    color: #45a6d3;
}